/laravel/vendor/
/laravel/node_modules/
/laravel/.env
/laravel/.env.*
/laravel//storage/*.key
/laravel/storage/debugbar
/laravel/storage/logs/*
/laravel/storage/framework/cache/*
/laravel/storage/framework/sessions/*
/laravel/storage/framework/views/*
/laravel/public/storage
/laravel/public/hot
/laravel/public/mix-manifest.json
/.idea/
/.phpunit.result.cache
/.php-cs-fixer.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log