/vendor/
node_modules/
.env
.env.*
/storage/*.key
/storage/debugbar
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/storage
/public/hot
/public/mix-manifest.json
/.idea/
/.phpunit.result.cache
/.php-cs-fixer.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log